<div class="col s12 m8 offset-m2 l6 offset-l3">
<div class="card-panel grey lighten-5 z-depth-1">
  <div class="row valign-wrapper">
    <div class="col s12">
      <span class="black-text">
      	<strong>
      		<h5><%= comment.name %></h5>
      	</strong>
      </span>
      <span class="black-text"> 
      	<%= comment.body %>
      </span>
      <br>
      <span class="black-text"> 
      	<%= time_ago_in_words(comment.created_at) %> ago
      </span>
    </div>
      <% if user_signed_in? %>
      <%= link_to 'Delete', [comment.post, comment],method: :delete, class: "button", data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn red darken-4" %>
      <% end %>
  </div>
</div>
</div>



		
		
		
