<script type="text/javascript" src="/assets/javascripts/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace("editor1");
</script>
<h1>New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
